*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: rgb(200, 219, 224);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 609px;
    background-image:linear-gradient(rgba(0, 1, 3, 0.7), rgb(0, 0, 0)), url(menwear.jpg);
    background-size: cover;
    background-repeat: no-repeat;
 }

h1{
    color: #e8edf0;
    text-align: center;
}

.login{
    background-color: white;
    padding: 30px;
    box-shadow: 5px 5px 10px ;
}

p{
    font-size: 12px;
    color: #0e161b;
}

input{
    border-radius: 2px;
    padding: 7px;
    width: 250px;
    border-color: #0e161b;
    margin-bottom: 20px;
    border: 1px solid #0e161b;
}

.all> .login> p> .sign{
    text-decoration: none;
    font-size: 15px;
    background-color: #0e161b;
    color: white;
    padding: 10px;
}
.all> .login> p> .sign:hover{
    color: #adbbc4;
}


.link{
    display: flex;
    font-size: 10px;
    margin-top: 30px;
}

.link> .pass{
    margin-right: 60px;
}

.link> div> a{
    text-decoration: none;
    color: #394e5a;
}

.link> div> a:hover{
    color: #000000;
}

::placeholder{
    color: rgb(233, 222, 222);
}