*{
    margin: 0px;
    padding: 0px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

nav{
    background-color: rgba(2, 3, 8, 0.8);
    height: 60px;
    position: fixed;
    top: 0;
    width: 100%;
}

nav> div {
    float: right;
    padding: 20px;
}

a{
    text-decoration: none;
    margin: 0px 50px 0px 0px;
    color: white;
}
a:hover{
    color: rgb(103, 106, 124);
}

.hero{
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgb(2,3,4)), url(/site/hero.JPG);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.text{
    text-align: center;
    line-height: 40px;
}

.text> h1{
    font-size: 50px;
    margin-bottom: 10px;
}

.text> div{
    margin-top: 20px;
}

.text> div>a{
    background-color: #304450;
    color: white ;
    padding: 8px 12px 8px 12px;
    font-size: 15px;
}

.text> div>a:hover{
    background-color: white;
    color: #0e161b;
    padding: 8px 12px 8px 12px;
    font-size: 15px;

}

/* SECOND SECTION */

.second {
    text-align: center;
    margin-top: 40px;
    color: #304450;
}
.second> h1{
    margin-bottom: 10px;
}

.what{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
}

.what> div {
    width: 25%;
    margin: 20px;
    line-height: 25px;
}

.symbol {
    font-size: 50px;
    margin-bottom: 20px;
}

.about-what{
    margin-top: 20px;
}

